doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Auth with Passport
        // CSS content
        link(rel='stylesheet', href='/css/basic.css')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        // JS content is right before closing body tag
    body
        // React here please
        div#container

        // Bootstrap core JavaScript, placed here for faster page load
        script(type='text/javascript' src='/lib/jquery/dist/jquery.js')
        script(type='text/javascript' src='/lib/react/react.js')
        script(type='text/javascript' src='/lib/react/JSXTransformer.js')
        script(type='text/javascript' src='/lib/bootstrap/dist/js/bootstrap.js')
        script(type='text/javascript' src='/lib/underscore/underscore.js')
        script(type='text/javascript' src='/lib/backbone/backbone.js')

        script(type='text/javascript' src='/js/models/example.js')
        script(type='text/javascript' src='/js/collections/examples.js')
        script(type='text/jsx' src='/js/views/header.js')
        script(type='text/jsx' src='/js/views/footer.js')
        script(type='text/jsx' src='/js/views/example_component.js')
        script(type='text/jsx' src='/js/react_profile.js')
